body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#element p,h3 {
  margin-left: calc(1em + 2vw);
  margin-right: calc(1em + 2vw);
  font-size: 1rem;
}

#element h2 {
  margin-left: calc(0.66em + 2vw);
  margin-right: calc(0.66em + 2vw);
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

pre {
  background-color: #eaeef3;
  padding-left: 2vw;
  padding-right: 2vw;
}